.note-block {
	position: relative;
	padding: 0 24px;

	svg {
		position: absolute;
		top: 4px;
		left: 0;
	}

	blockquote {
		background-color: var(--vp-c-default-3);
		border-color: var(--vp-c-brand-3);
		border-left-width: 4px;
		border-left-style: solid;
		padding: 4px 10px;

		&>p {
			font-size: var(--vp-custom-block-font-size);
		}
	}
}

.vp-doc {
	h1 {
		font-size: 24px;
		line-height: 1.3;
		margin-bottom: 12px;
	}

	h2 {
		font-size: 20px;
		line-height: 1.35;
		margin: 22px 0 10px;
		padding-top: 14px;
	}

	h3 {
		font-size: 17px;
		line-height: 1.4;
		margin: 16px 0 8px;
	}

	h4 {
		font-size: 15px;
		margin: 12px 0 6px;
	}

	p {
		margin: 8px 0;
		line-height: 1.6;
	}

	ul,
	ol {
		padding-left: 1.1rem;
		margin: 6px 0;
	}

	ul.todo-list {
		padding-left: 0;
	}

	li.todo-list-item>ul.todo-list {
		padding-left: 1.1rem;
		margin-top: 0;
	}

	li {
		margin: 2px 0;
		line-height: 1.6;
	}

	li.todo-list-item {
		list-style: none;
	}

	li+li {
		margin-top: 2px;
	}

	li>p {
		margin: 2px 0;
	}

	hr {
		margin: 16px 0;
	}

	img,
	table {
		margin: 10px 0;
	}

	div[class*='language-'] {
		margin: 10px 0;
	}

	pre {
		padding: 12px 0;
	}

	pre code {
		font-size: 13px;
		line-height: 1.5;
	}

	blockquote {
		background-color: var(--vp-c-default-3);
		border-color: var(--vp-c-brand-3);
		border-left-width: 4px;
		border-left-style: solid;
		padding: 4px 10px;
		margin: 10px 0;
		font-size: var(--vp-custom-block-font-size);

		&>p {
			font-size: var(--vp-custom-block-font-size);
		}
	}
}
