.note-block {
	position: relative;
	padding: 0 32px;
	svg {
		position: absolute;
		top: 8px;
		left: 0;
	}
	blockquote {
		background-color: var(--vp-c-default-3);
		border-color: var(--vp-c-brand-3);
		border-left-width: 7px;
		border-left-style: solid;
		padding: 5px 10px;
		
    & > p {
      font-size: 14px;
    }
	}
}
